{
	"printWidth": 80,

	"trailingComma": "es5",

	"useTabs": true,

	"semi": true,

	"singleQuote": true,
	"jsxSingleQuote": true,

	"bracketSpacing": true,

	"proseWrap": "always",

	"singleAttributePerLine": true
}
